In [ ]:
# addition

a = int(input("enter 1st numbers:"))
b = int(input("enter 2nd number:"))

sum = a + b
print("sum of 2 numbers is:", sum)

enter 1st numbers:2
enter 2nd number:2
sum of 2 numbers is: 4

In [ ]:
# division

a = int(input())
b = int(input())

if b == 0:
  print("error")
else:
  div = a / b
  print("division is:", div)

4
2
division is: 2.0

In [ ]:
# to find area of a triangle

a = int(input("enter base:"))
b = int(input("enter height:"))

area = (a*b)/2   # half*base*height

print("area is:", area)

enter base:5
enter height:4
area is: 10.0

In [ ]:
# to swap two variables

a = int(input())
b = int(input())

c = a
a = b
b = c

print("swapped vriables are:",a,b)

2
3
swapped vriables are: 3 2

In [ ]:
# to generate a random number

import random
print("random number is :", {random.randint(10,20)})

random number is : {14}

In [ ]:
# to convert kilometers to miles

km = int(input("enter km:"))

a = km * 0.621

print("the equivalent km is equal to:", a)

enter km:2
the equivalent km is equal to: 1.242

In [ ]:
# convert celsius to fahrenheit

c = int(input("enter the temp in celcius:"))

f = (c* 9/5) + 32

print("celcius temp in fahrenheit is:", f)

enter the temp in celcius:2
celcius temp in fahrenheit is: 35.6

In [ ]:
# display calendar

import calendar

month = int(input("enter month:"))
year = int(input("enter year:"))

cal = calendar.month(year, month)

print("the calendar is:", cal)

enter month:2
enter year:2001
the calendar is:    February 2001
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28

In [ ]:
# to solve quadratic equation

import math
a = float(input("enter coefficient a:"))
b = float(input("enter coefficient b:"))
c = float(input("enter coefficient c:"))

d = b**2 - 4*a*c    # d is discriminant

if d > 0:
  r1 = (-b + math.sqrt(d)) / (2*a)
  print("root 1:", r1)
  r2 = (-b - math.sqrt(d)) / (2*a)
  print("root 2:", r2)
elif d == 0 :
  r1 = -b / (2*a)
  print("root is:", r1)
else:
  realpart = -b / (2*a)
  imgpart = math.sqrt(abs(d)) / (2*a)
  print("root 1:", realpart, "+", imgpart, "i")
  print("root 2:", realpart, "-", imgpart, "i")

enter coefficient a:2
enter coefficient b:4
enter coefficient c:8
root 1: -1.0 + 1.7320508075688772 i
root 2: -1.0 - 1.7320508075688772 i

In [ ]:
# swap 2 variables without temp variable

a = int(input())
b = int(input())

print("before swapping the vairables are:", a,b)
a,b = b,a
print("after swapping the variables are:", a,b)

5
8
before swapping the vairables are: 5 8
after swapping the variables are: 8 5

In [ ]:
# swap 2 variables without temp variable
# method 2

a = int(input())   # 5
b = int(input())   # 8

print("before swapping the vairables are:", a,b)

a = a+b    #  a = 5 + 8 = 13
b = a-b    # b = 13 - 8 = 5   # a gets current value
a = a-b    # a = 13 -  5 = 8
print("after swapping the variables are:", a,b)

5
8
before swapping the vairables are: 5 8
after swapping the variables are: 8 5

In [ ]:
# check leap year

a = int(input("enter the year:"))

if a%4 == 0:
  print("leap year")
else:
  print("not a leap year")

enter the year:2044
leap year

In [ ]:
# check prime number

a = int(input("enter prime number:"))
b = False

if a ==1 or a < 0 :
  print("not a prime number")
  b = True
elif a > 1:
  for i in range (2,a):
    if a%i == 0:
      print("not prime")
      b = True
      break
if not b :
  print("prime number")

enter prime number:-9
not a prime number

In [ ]:
# print all prime numbers in an interval of 1-10

a = int(input("enter lower number:"))  #1
b = int(input("enter upper number:"))   # 10

for num in range(a, b+1):  # 1, 11
  if num > 1:                # num > 1
    for i in range(2, num):    # (2,num)
      if num%i == 0:
        break
    else:
      print(num)

enter lower number:1
enter upper number:10
2
3
5
7

In [ ]:
# find factorial of a number

num  = int(input("enter number:"))
fact = 1

if num < 0 :
  print("factorial of -ve number doesnt exist")
elif num == 0:
  print("factorial of 0 is 1")
else:
  for i in range(1, num+1):
    fact = fact * i

  print("factorial is:", fact)

enter number:5
factorial is: 120

In [ ]:
# display multiplication table

a = int(input("enter a number:"))

for i in range(1,11):
  print(a, "x", i, "=", a*i)

enter a number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
# to print the fibonacci series

a = int(input("enter a number:"))

b = 0
c = 1

for i in range(a):
    print(b)
    b, c = c, b + c

enter a number:10
0
1
1
2
3
5
8
13
21
34

In [ ]:
# to check armstrong number

def is_armstrong(a):
    num_str = str(a)
    num_length = len(num_str)
    sum_of_powers = 0

    for digit in num_str:
        sum_of_powers += int(digit) ** num_length
    return sum_of_powers == a

a = int(input("Enter a number: "))

if is_armstrong(a):
    print(a, "is an Armstrong number.")
else:
    print(a, "is not an Armstrong number.")

Enter a number: 9474
9474 is an Armstrong number.

In [ ]:
# find the sum of natural numbers

a = int(input())
sum = 0

for i in range(1, a+1):
  sum = sum + i
print("sum is:",sum)

20
sum is: 210