In [ ]:
t1 = (1,2,4,3)
t2 = (1,2,3,4)

t1 < t2

False

In [ ]:
my_tuple = (1,2,3,4)
my_tuple.append((5,6,7))

print(len(my_tuple))

# correct code is given in next cell

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
my_tuple = (1,2,3,4)
my_list = list(my_tuple)  # Convert the tuple to a list if you need to modify it
my_list.append((5,6,7))

print(len(my_list))

5

In [ ]:
d = {"john":40, "peter":45}
d["john"]

40

In [ ]:
t = (1, 2, 4, 3, 8, 9)

[t[i] for i in range (0, len(t), 2)]

[1, 4, 8]

In [ ]:
t = (1, 2, 4, 3)
t[1:-1]

(2, 4)

In [ ]:
numbergames = {}

numbergames[(1,2,4)] = 8
numbergames[(4,2,1)] = 10
numbergames[(1,2)] = 12

sum = 0

for k in numbergames :
  sum += numbergames[k]

print(len(numbergames) + sum)

33

In [ ]:
t = (1, 2)
2*t

(1, 2, 1, 2)

In [ ]:
t = (1,2,4,3)
t[1:3]

(2, 4)

In [ ]:
t = (1,2,4,3)
print(t[3])

3

In [ ]:
print(len(t))

4

In [ ]:
print(max(t))

4

In [ ]:
a = (0,1,2,3,4)
b = slice(0,2)
a[b]

(0, 1)

In [ ]:
a = (1,2,(4,5))
b = (1,2,(3,4))
a<b

False

In [ ]:
a = (1,2,3,4)
del a

In [ ]:
a = (1,2,3,4)
del(a[2])

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
a = ("check")*3
a

'checkcheckcheck'

In [ ]:
a = [(1,1),(2,4),(3,9)]

In [ ]:
a = (2,3,4)
sum(a,3)

12

In [ ]:
a = (1,2,3)
b = ("A","B","C")
c = tuple(zip(a,b))

In [ ]:
a = (1,2,3,4)
a[1:-1]

(2, 3)

In [ ]:
a = 2,3,4,5
a

(2, 3, 4, 5)

In [ ]:
a.sort()
a

AttributeError: 'tuple' object has no attribute 'sort'

In [ ]:
a,b = 6,7
a,b = b,a
a,b

(7, 6)

In [ ]:
a = (1,2,3)
b = a.update(4,)

AttributeError: 'tuple' object has no attribute 'update'

In [ ]:
a = (1,2)
b = (3,4)
c = a + b
c

(1, 2, 3, 4)

In [ ]:
a,b,c = 1,2,3
a,b,c

(1, 2, 3)

In [ ]:
a = ("check",)
n = 2

for i in range(int(n)):
  a = (a,)
  print(a)

(('check',),)
((('check',),),)

In [ ]:
a,b = 1,2,3

ValueError: too many values to unpack (expected 2)

In [ ]:
a = [(2,4), (1,2),(3,9)]
a.sort()
a

[(1, 2), (2, 4), (3, 9)]